.app-container {
  max-width: 1024px;
  margin: auto;
  padding: 2rem;
  @media only screen and (min-width: 768px) {
    padding: 1.25rem;
  }
  @media only screen and (min-width: 1200px) {
    padding: 0;
  }
}

.flex {
  display: flex;
}

.my-auto {
  margin: auto 0;
}

.detail-name {
  font-size: 25px;
  font-weight: bold;
}

.mr-10 {
  margin-right: 10px;
}

.flex-1 {
  flex: 1 1 0%;
}

.number-24 {
  font-size: 24px;
}

.font-bold {
  font-weight: bold;
}

.user-detail, .repo-detail {
  margin: 2.5rem 0;
}
